.edit {}

.edit form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.edit form input,
.edit form select {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
}

.edit form input {
    border-bottom: 1px black solid;
}

.sticker {
    max-width: 1em;
    display: inline;
    position: relative;
    bottom: 3px;
}

.sticker select {
    font-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    margin-inline-end: 1rem;

}