 /* GENERAL */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: lato;
    font-weight: 100;
    width: 100vw;
}

